.channel {
    margin: 1.5rem 0;
    padding: 0.5rem 0.3rem;

    display: flex;

    position: relative;
    cursor: pointer;
    border-radius: 6px;

    .channel__icon {
        width: 2.5rem;
        height: 2.5rem;

        display: flex;

        border-radius: 8px;

        p {
            margin: auto;
        }
    }

    .channel__name {
        display: flex;
        justify-content: left;

        p {
            margin: auto 0 auto 1rem;
        }
    }

    .channel__badge {
        width: 20px;
        height: 20px;
        margin: auto 0 auto 0.3rem;

        display: flex;

        position: absolute;
        top: 30%;
        right: 1rem;
        border-radius: 6px;

        p {
            margin: auto;
        }
    }
}