.home {
   .sider.disable {
        display: none;
   } 

    .body {
        height: 100vh;
        display: flex;
        flex-direction: column;

        .header {
            min-height: 60px;
            max-height: 60px;
            position: relative;
        }
    }
}
