.nav {
    height: 100%;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    
    .icon-menu {
        height: 30px;
        width: 30px;
        margin-right: 1rem;

        display: none;
    }

    .icon {
      cursor: pointer;
    }

    .icon:hover {
        transform: scale(1.1);
    }

    p {
        margin: auto 0;
    }
}

.nav-info {
  height: 30px;
  width: 30px;
  margin-left: 0.5rem;

  display: flex;
  align-items: center;

  position: relative;
}

@media only screen and (max-width: 600px) {
  .nav .icon-menu {
    display: flex;
    align-items: center;
  }
}